# Built APKs
app/build/
*.apk

# Gradle
.gradle/
build/
!app/build/

# Local config
local.properties
.DS_Store

# Android Studio
.idea/
*.iml
*.iws
*.ipr
.cody/

# Kotlin
kotlin/
captures/

# Android Test / coverage
coverage/
*.ec
*.eml
*.jar
coverage.exec
coverage.ltp

# Android Profiler
*.hprof
